{% extends 'index.html' %}
{% block body %}
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Current Appeals</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Current Appeals</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
 
    <section class="events">
        <div class="container">
           
            <div class="event-ro row">
                {% for appeal in appeals %}
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="{{ appeal.image.url }}" alt="">
                        <h4>{{ appeal.title }}</h4>
                        <small>By {{ appeal.author }} | {{ appeal.created_date }} | {{ appeal.region }}</small>
					
                        <p class="raises"><span>Raised : {{ appeal.raised_fund }}</span> / {{ appeal.donation }} </p>
                        <p class="desic">{{ appeal.description|truncatewords:50 }}</p>
                        <form method="POST">
                            {% csrf_token %}
                           <div class="input-group">
                              <input type="number" class="form-control" id="donationAmount" placeholder="Enter amount" name="amount">
                              <input type="hidden" value="{{ appeal.id }}" name="id">
                              <div class="input-group-append">
                               <button class="btn btn-primary" type="submit">Donate Now</button>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>   
  {% endblock %}
                 
