{% extends 'index.html' %}
{% block body %}
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Career</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i>Career</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
  <!-- ################# Career  Start Here#######################--->
    <section class="our-blog">
         	<div class="container">
         		
        		<div class="blog-row row">
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="assets/images/hiring.png" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2023</small>
								<h4>Donor Relations Specialist</h4>
								
								<div>
                                    <a href="#" class="btn btn-sm btn-success">Apply Now</a><i></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="assets/images/hiring.png" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2023</small>
								<h4>Public Relations Officer</h4>
								
								<div>
                                    <a href="#" class="btn btn-sm btn-success">Apply Now</a><i></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="assets/images/hiring.png" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2023</small>
								<h4>IT Manager</h4>
								
								<div>
                                    <a href="#" class="btn btn-sm btn-success">Apply Now</a><i></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="assets/images/hiring.png" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2023</small>
								<h4>HR Manager</h4>
								
								<div>
                                    <a href="#" class="btn btn-sm btn-success">Apply Now</a><i></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="assets/images/hiring.png" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2023</small>
								<h4>Shelter Manager</h4>
								
								<div>
                                    <a href="#" class="btn btn-sm btn-success">Apply Now</a><i></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
                    <div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="assets/images/hiring.png" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2023</small>
								<h4>Food Distribution Manager</h4>
								
								<div>
                                    <a href="#" class="btn btn-sm btn-success">Apply Now</a><i></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        		</div>
         	</div>
         </section>
         
{% endblock %}