{% extends 'index.html' %}
{% load static %}
{% block body %}
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Why  JustAppeal</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i>Why JustAppeal</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   

    <section class="events">
        <div class="container">
            <h2 style="text-align: center;">Your help for Needy in need is changing lives.</h2>
            <p>We sometimes wonder what our pioneering founder would think of our world today and JustAppeal place in it. One look at the alarming headlines, and even she might fear the world is falling apart. But she would never back down from a challenge.

               JustAppeal is working around the clock to ensure that the health and well-being of children are protected.
                
                It is because of our commitment to Needy that JustAppeal ranks high among other nonprofit organizations. Charity watch groups give us top ratings for achieving incredible results for Needy with proven efficiency, effectiveness and accountability.
                
            </p>
            <div class="container py-3">
              
                <!-- Card Start -->
                <div class="card">
                  <div class="row ">
              
                    <div class="col-md-7 px-3">
                      <div class="card-block px-6">
                        <h4 class="card-title">Shelter on the Day of Resurrection </h4>
                        <p class="card-text">
                            In the Hadiths, it is mentioned that giving charity will provide shade and protection to the giver on the Day of Resurrection ,a day of great turmoil and distress.
                        </p>
                        <h4 class="card-title">Inner Satisfaction and Happiness</h4>
                        <p class="card-text">Doing good things for others makes you happy and satisfied. Helping others and making a big difference in their lives can give you a deep sense of satisfaction and happiness.</p>
                        <br>
                        
                      </div>
                    </div>
                    <!-- Carousel start -->
                    <div class="col-md-5">
                     

                        
                          <div class=" ">
                            <img class="d-block" src="{% static '/assets/images/events/image_01.jpg' %}" alt="">
                          </div>
                          
                          
               
                        </div>
                      </div>
                    </div>
                    <!-- End of carousel -->
                  </div>
                </div>
                <!-- End of card -->

                
              
              </div>
              
           
                <h3 style="text-align: center;">Significance of Charity in Islam</h3>
                <p>“The example of those who spend their wealth in the cause of Allah is that of a grain that sprouts into seven ears, each bearing one hundred grains. And Allah multiplies the reward even more to whoever He wills. For Allah is All-Bountiful, All-Knowing.” 

                    -Surah Baqarah:261</p>
               
              
           
            </div>
        </div>
    </section>   
  {% endblock body %}
                 
  <!--  ************************* Footer Starts Here ************************** -->